.card {
    max-width: 400px;
    margin: 50px auto;
}

.uploadPhotoForm {
    width: 100%;
    text-align: center;
    margin: auto;
}

.center {
    max-width: 400px;
    margin: 50px auto;
    text-align: center;
}

form button {
    margin: 20px 0;
    width: 100%;
}