<!--<button mat-button [matMenuTriggerFor]="loginMenu">Menu</button>
<mat-menu #loginMenu="matMenu">
  <button mat-menu-item (click)="navigateTo('home')">Accueil</button>
  <button mat-menu-item (click)="navigateTo('login')">Se connecter</button>
</mat-menu>

<button mat-button [matMenuTriggerFor]="contactMenu">Contact</button>
<mat-menu #contactMenu="matMenu">
  <button mat-menu-item (click)="navigateTo('contact')">Contacter</button>
  <button mat-menu-item (click)="navigateTo('location')">Adresse</button>
</mat-menu>-->

<p>
  <mat-toolbar color="primary">
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button>
    <span>My App</span>
    <span class="example-spacer"></span>
    <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
      <mat-icon>favorite</mat-icon>
    </button>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
      <mat-icon>share</mat-icon>
    </button>
  </mat-toolbar>
</p>

<router-outlet></router-outlet>